<!-- ClientSearchCtrl -->
<div id="search">
    <div class="hero-content">
        <div class="container">
            <p class="control is-grouped">
                <span class="select">
                <select>
                    <option>Company</option>
                    <option>Contact</option>
                </select>
                </span>
                <input class="input" type="text" placeholder="Type the name here" ng-change="checkSearch()"
                       ng-model="searchPrefix">
                <a class="button is-info">
                    Search
                </a>
            </p>


            <div id="search-results">
                <div class="row">
                    <div class="col-md-6">
                        <div ng-show="clients.length === 0">
                            No search results.
                        </div>
                        <div ng-show="clients.length > 0">
                            {{ clients.length }} matching clients
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table" ng-show="clients.length > 0">
                            <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="toggleSortOrder('company')">Company
                                    <span ng-show="!reverse && (predicate === 'company')">&#x25b2;</span>
                                    <span ng-show="reverse && (predicate === 'company')">&#x25bc;</span>
                                    </a>
                                </th>

                                <th>
                                    <a href="" ng-click="toggleSortOrder('contact')">Contact
                                    <span ng-show="!reverse && (predicate === 'contact')">&#x25b2;</span>
                                    <span ng-show="reverse && (predicate === 'contact')">&#x25bc;</span>
                                    </a>
                                </th>

                                <th>
                                    <a href="" ng-click="toggleSortOrder('phone')">Phone
                                    <span ng-show="!reverse && (predicate === 'phone')">&#x25b2;</span>
                                    <span ng-show="reverse && (predicate === 'phone')">&#x25bc;</span>
                                    </a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr id="template-row" ng-repeat="client in clients | orderBy:predicate:reverse">
                                <td class="company">
                                    {{client.company}}
                                    <a ng-href="#/edit/{{client.id}}">edit</a>
                                    <a ng-href="#/show/{{client.id}}">show</a>
                                </td>
                                <td class="contact">{{client.contact}}</td>
                                <td class="phone">{{client.phone}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ClientSearchCtrl -->